@font-face { font-family: Northwest; src: url('../assets/NorthwestBold-M8xx.otf'); }

body {
    overflow-y: scroll;
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* .modal-open {
    overflow: inherit;
} */

#content {
    border: 2px var(--bs-maincolor) solid;
}