// custom variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "maincolor": $purple-500,
    "mainmid": $purple-600,
    "maindark": $purple-700
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$component-active-bg:               $purple-500;
$dropdown-link-active-bg:           $component-active-bg;

$more-position-values: (
    25: 25%,
    75: 75%,
);

$position-values: map-merge($more-position-values, $position-values);

$more-spacers: (
    6: $spacer * 5,
    7: $spacer * 6,
    8: $spacer * 10,
);

$spacers: map-merge($more-spacers, $spacers);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';