<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/main.min.css">
    <link rel="stylesheet" href="../css/styles.css"/>

    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script src="../js/script.js"></script>

    <link rel="icon" type="image/x-icon" href="assets/travel-icon.svg">
    <title>Travel App Page</title>
</head>
<body>
    <main class="d-flex flex-column container-fluid" style="height: 100vh;">
        <nav class="navbar navbar-extend mt-3 mx-3">
          <div class="">
            <button class="btn btn-maincolor text-light" type="button" id="mainDropBtn" data-bs-toggle="dropdown">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Calendar</a></li>
              <li><a class="dropdown-item" href="#">Event List</a></li>
              <li><a class="dropdown-item" href="#">Budget Tracker</a></li>
              <li><a class="dropdown-item" href="#">Notes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-center" id="changeTrip" href="chooseProject.html">Add/Switch Trip</a></li>
            </ul> 
          </div>
          <div class="">
            <button class="btn btn-maincolor" data-bs-toggle="modal" data-bs-target="#signInModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
                <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465m-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
              </svg>
            </button>
            <button class="btn btn-maincolor text-light d-inline-flex column-gap-2" id="searchBtn">
              <a class="link-light" data-bs-toggle="collapse" href="#collapseSearch">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </a>
              <div class="collapse collapse-horizontal" id="collapseSearch">
                <form><input type="search" class="form-control form-control-sm" placeholder="Search..."></form>
              </div>
            </button>
          </div>
        </nav>

        <div id="content" class="bg-secondary-subtle rounded 
                                 position-absolute w-75 start-50 translate-middle-x 
                                 d-flex flex-column gap-4 justify-content-start
                                 gap-sm-6 pb-sm-6" style="top: 20%;">
            <h1 class="text-maincolor fw-bolder mt-3">
                <span class="ms-4 me-1">SWITCH TRIP</span>
                <div class="d-inline-block">
                    <a type="button" class="button btn-maincolor text-maincolor" data-bs-toggle="modal" data-bs-target="#addTripModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 20 20">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                      </svg>
                    </a>
                </div>
            </h1>
            <div id="trips" class="d-flex flex-wrap column-gap-4 justify-content-center">
                <div class="card mb-4" style="width: 250px;">
                    <img src="../assets/pnw-trip-crop.jpg" class="d-none d-sm-block card-img-top" alt="trip-image">
                    <div class="card-body">
                      <h5 class="card-title">PNW Train Trip</h5>
                      <p class="card-text">This is my test trip card for the trip choosing page.</p>
                      <div class="d-flex flex-nowrap align-items-center justify-content-between">
                        <a href="../index.html" class="btn btn-maincolor">Trip Home Page</a>
                        <span>
                          <a type="button" class="text-maincolor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                          </a>
                          <a type="button" id="delTripBtn" class="text-maincolor" data-bs-toggle="modal" data-bs-target="#delTripModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card mb-4" style="width: 250px;">
                    <img src="../assets/mexico-sunset.jpg" class="d-none d-sm-block card-img-top" alt="trip-image">
                    <div class="card-body">
                      <h5 class="card-title">Mexico Beach</h5>
                      <p class="card-text">This is my test trip card for the trip choosing page.</p>
                      <div class="d-flex flex-nowrap align-items-center justify-content-between">
                        <a href="#" class="btn btn-maincolor">Trip Home Page</a>
                        <span>
                          <a type="button" class="text-maincolor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                          </a>
                          <a type="button" id="delTripBtn" class="text-maincolor" data-bs-toggle="modal" data-bs-target="#delTripModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div> -->
            </div>
        </div>
    </main>

    <div class="modal fade" id="signInModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-3" id="signInLabel">Sign In</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
              <div class="modal-body">
                <label for="username" class="form-label fw-bold fs-5">Name:</label>
                <input type="text" id="username" name="username" class="form-control mb-3" placeholder="Your first name.">

                <label for="pin" class="form-label fw-bold fs-5">Pin:</label>
                <input type="text" id="pin" name="pin" class="form-control" placeholder="Your 4 digit passcode.">
              </div>  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-maincolor">Sign In</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addTripModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Trip</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                  <div class="modal-body">
                      <p class="form-label fw-bold">Enter Details:</p>
                      <div class="input-group mb-2">
                        <span class="input-group-text">Name:</span>
                        <input type="text" id="nameInput" class="form-control" placeholder="Trip Name"> 
                      </div>
                      <div class="input-group mb-2">
                        <span class="input-group-text">Who's Going:</span>
                        <input type="text" id="peopleInput" class="form-control" placeholder="Mattie, Angie, etc."> 
                      </div>
                      
                      <div class="" id="accordion">
                        <div class="input-group mb-2">
                          <span class="input-group-text">Timeline:</span>
                          <button type="button" class="form-control" data-bs-toggle="collapse" data-bs-target="#yearColl">Month/Year</button>
                          <button type="button" class="form-control collapsed" data-bs-toggle="collapse" data-bs-target="#datesColl">Dates</button>
                        </div>
                        <div class="accordion-collapse show" id="yearColl" data-bs-parent="#accordion">
                          <div class="input-group mb-2">
                            <span class="input-group-text">Month/Year:</span>
                            <input type="text" id="yearInput" class="form-control" placeholder="Month YYYY">
                          </div>
                        </div>
                        <div class="accordion-collapse collapse" id="datesColl" data-bs-parent="#accordion">
                          <input class="form-control" type="date" id="startInput" value="2024-07-01" min="2024-07-01" max="2030-12-31" />
                          <span class="input-group-text">to</span>
                          <input class="form-control" type="date" id="endInput" value="2024-07-01" min="2024-07-01" max="2030-12-31" />
                        </div>
                      </div>
                  
                      <div class="mb-2">
                        <span class="form-label fw-bold">Description:</span>
                        <textarea type="text" id="descInput" class="form-control" placeholder="Brief description of your trip..."></textarea>
                      </div>
                      <div class="mb-2">
                        <span class="form-label fw-bold">Add an image!</span>
                        <input class="form-control" type="file" id="imgInput">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-maincolor">Add Trip</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delTripModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Trip</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="fs-5">Are you sure you want to <span class="fw-bolder"><u>DELETE</u></span> this trip?</p>
            </div>  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-maincolor">Delete</button>
            </div>
        </div>
      </div>
    </div>
</body>
</html>